<h1>訪問予定</h1>
<%= button_to '追加', new_task_path, method: :get %>
<%= button_to '検索', search_path, method: :get %>
<br>
<table>
  <tr>
    <th>訪問先</th>
    <th>日付</th>
    <th>開始時間</th>
    <th></th>
    <th>終了時間</th>
    <th></th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.name %></td>
      <td><%= task.date %></td>
      <td align="center"><%= task.start_time.strftime("%H:%M") %></td>
      <td>〜</td>
      <td align="center"><%= task.ending_time.strftime("%H:%M") %></td>
      <td><%= button_to '削除', task_path(task.id), method: :delete %></td>
    </tr>
  <% end %>
</table>
